{% extends 'master.html' %}

{% block contents %}
<section class="filter ">
    <div class="container">
        <form>
            <div class="form-row ">
                <div class="col-md-6 offset-3 mt-5 ">
                    <input type="text" class="form-control" placeholder="filter by name">
                </div>
            </div>
        </form>
    </div>
</section>
<section class="log  mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-5">
                <div class="card">
                    <img class="card-img-top" src="newpic/Untitled-11.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title text-center">Full HD DLP Projector</h4>
                        <p class="card-text text-center">features: 4000-Lumen Full HD, 4000 lumens of brightness</p>
                        <a href="#" class="btn btn-primary">Buy</a>
                        <p class="price text-right">₦86,000.00</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-5">
                <div class="card">
                    <img class="card-img-top" src="newpic/Untitled-12.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title text-center">Panache 40 LED Television</h4>
                        <p class="card-text text-center">features: Smart TV 2 USB ports, 2 HDMI Portsdisplay: 32
                            inch, LED, HD-Ready... </p>
                        <a href="#" class="btn btn-primary">Buy</a>
                        <p class="price text-right">₦100,000.00</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-5">
                <div class="card">
                    <img class="card-img-top" src="newpic/Untitled-13.jpg"Card image cap">
                    <div class="card-body">
                        <h4 class="card-title text-center">Cafe 36 Inch Refrigerator</h4>
                        <p class="card-text text-center">Cafe 36 Inch Smart french Door refrigerator with 27.8 cu, 4 glass shelves...</p>
                        <a href="#" class="btn btn-primary">Buy</a>
                        <p class="price text-right">₦30,000.00</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4 mt-5">
                <div class="card">
                    <img class="card-img-top" src="newpic/Untitled-14.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title text-center">Kenmore 51833</h4>
                        <p class="card-text text-center">Has an adjustable glass shelving, a gallon door bin clear crisper drawers......</p>
                        <a href="#" class="btn btn-primary">Buy</a>
                        <p class="price text-right">₦198,000.00</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-5">
                <div class="card">
                    <img class="card-img-top" src="imgel/download (12).jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title text-center">LG GL-T292RPZY</h4>
                        <p class="card-text text-center">LG GL-T292RPZY 260L Double Door Frost with an extra space/dual fridge</p>
                        <a href="#" class="btn btn-primary">Buy</a>
                        <p class="price text-right">₦102,000.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <div class="card">
                    <img class="card-img-top" src="newpic/Untitled-15.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title text-center">Fanafrik Standing Fan</h4>
                        <p class="card-text text-center">get your good choice fanafrik fan at an affordable price</p>
                        <a href="#" class="btn btn-primary">Buy</a>
                        <p class="price text-right">₦18,000.00</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4 mt-5">
                <div class="card">
                    <img class="card-img-top" src="newpic/Untitled-16.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title text-center">Skyworth 43 LED Television</h4>
                        <p class="card-text text-center">features: HD ready, USB Input, HDMI Input, Dolby Audio.... </p>
                        <a href="#" class="btn btn-primary">Buy</a>
                        <p class="price text-right">₦168,000.00</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-5">
                <div class="card">
                    <img class="card-img-top" src="newpic/Untitled-17.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title text-center">Skyworth 45 LED Television</h4>
                        <p class="card-text text-center">features: HD ready, USB Input, HDMI Input, Dolby Audio/Video.... </p>
                        <a href="#" class="btn btn-primary">Buy</a>
                        <p class="price text-right">₦172,000.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <div class="card">
                    <img class="card-img-top" src="imgel/download (2).jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title text-center">wall fan</h4>
                        <p class="card-text text-center">get your best ever portable quality wall fan..... </p>
                        <a href="#" class="btn btn-primary">Buy</a>
                        <p class="price text-right">₦25,000.00</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4 mt-5 mb-5">
                <div class="card">
                    <img class="card-img-top" src="newpic/Untitled-18.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title text-center">Table fan</h4>
                        <p class="card-text text-center">get your best ever quality table fan at a very affordable price</p>
                        <a href="#" class="btn btn-primary">Buy</a>
                        <p class="price text-right">₦18,000.00</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-5">
                <div class="card">
                    <img class="card-img-top" src="newpic/Untitled-19.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title text-center">Rechargeable Table Fan</h4>
                        <p class="card-text text-center">get a multifunction Rechargeable table fan at a very affordable price </p>
                        <a href="#" class="btn btn-primary">Buy</a>
                        <p class="price text-right">₦20,000.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <div class="card">
                    <img class="card-img-top" src="img/download (5).jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title text-center">Ceiling Fan</h4>
                        <p class="card-text text-center">Buy your Ceiling fan at a very affordable price</p>
                        <a href="#" class="btn btn-primary">Buy</a>
                        <p class="price text-right">₦11,000.00</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4 mt-5 mb-5">
                <div class="card">
                    <img class="card-img-top" src="newpic/Untitled-20.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title text-center">Elec Standing Fan</h4>
                        <p class="card-text text-center">get your good choice Elec fan at an affordable price</p>
                        <a href="#" class="btn btn-primary">Buy</a>
                        <p class="price text-right">₦18,000.00</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-5">
                <div class="card">
                    <img class="card-img-top" src="newpic/Untitled-11.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title text-center">Full HD DLP Projector</h4>
                        <p class="card-text text-center">features: 4000-Lumen Full HD, 4000 lumens of brightness</p>
                        <a href="#" class="btn btn-primary">Buy</a>
                        <p class="price text-right">₦86,000.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <div class="card">
                    <img class="card-img-top" src="newpic/Untitled-21.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title text-center">LG smart LED TV</h4>
                        <p class="card-text text-center">get the best ever LED smart TV at an affordable Price</p>
                        <a href="#" class="btn btn-primary">Buy</a>
                        <p class="price text-right">₦99,000.00</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section id="pagin mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</section>
{% endblock %}