{% load static %}
<nav class="navbar navbar-expand-lg text-light navbar-light bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/"><button type="button" class="btn btn-light"><img src="{% static 'newpic/plo.jpg' %}"></button></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent2">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item"><a class=" nav-link text-light" href="/">Home</a></li>
                <li class="nav-item dropdown text-light">
                    <a class="nav-link text-light dropdown-toggle" href="/" id="navbardrop"  data-toggle="dropdown" >
                        Products
                    </a>


                    <div class="dropdown-menu">
                        {% for category in categories %}
                        <a class="dropdown-item" href="/view/{{ category.slug }}">{{ category.name }}</a>
                        {% endfor %}
                    </div>


                </li>
                <li class="nav-item"><a class=" nav-link text-light" href="{% url 'contact.user' %}">Contacts</a></li>
                {% if user.is_authenticated %}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hi! {{ user.username }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'logout.user' %}">Logout</a>

                    </div>
                </div>

                {% else %}
                <li class="nav-item"><a class=" nav-link text-light" href="{% url 'register.user' %}">Register</a></li>
                <li class="nav-item"><a class=" nav-link text-light" href="{% url 'login.user' %}?next={{request.path}}">Login</a></li>
                {% endif %}


            </ul>
        </div>

    </div>
</nav>