{% extends 'master.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block contents %}
<div class="container">
    <div class="row offset-md-3">
        <div class="col-md-8">
            <article class="payment-card">
                <div class="card-body p-5 ">
                    <p class="text-center"> <img class="img-fluid payment-card" src="{% static 'cards/pay-visa.png' %}" width="65" height="38">
                        <img class="img-fluid payment-card "  src="{% static 'cards/pay-visa-el.png' %}" width="65" height="38">
                        <img class="img-fluid payment-card" src="{% static 'cards/pay-mastercard.png' %}" width="65" height="38">
                        <img class="img-fluid payment-card" src="{% static 'cards/pay-american-ex.png' %}" width="65" height="38" > </p>

                    {% if messages %}
                    {% for message in messages %}
                    <p  class="alert alert-success {{ message.tags }}">{{ message }}</p>
                    {% endfor %}
                    {% endif %}

                    <form method="POST" role="form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Full name (on the card)</label>
                            <div class="form-group">
                                {{ form.card_name|as_crispy_field }}
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group.// -->

                        <div class="form-group">
                            <label for="cardNumber">Card number</label>
                            <div class="form-group">
                                {{ form.card_number|as_crispy_field }}
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group.// -->

                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label><span class="hidden-xs">Expiration</span> </label>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            {{ form.expiring_month|as_crispy_field }}
                                        </div>

                                        <div class="col-sm-6">
                                            {{ form.expiring_year|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label data-toggle="tooltip" title="" data-original-title="3 digits code on back side of the card">CVV <i class="fa fa-question-circle"></i></label>
                                    {{ form.card_cvv|as_crispy_field }}
                                </div> <!-- form-group.// -->
                            </div>
                        </div> <!-- row.// -->
                        {% if messages %}
                        {% for message in messages %}
                        <a class="subscribe btn btn-primary btn-block" href="/"> Go Back  </a>
                        {% endfor %}
                        {% else %}
                        <button class="subscribe btn btn-primary btn-block" type="submit"> Confirm  </button>
                        {% endif %}


                    </form>
                </div> <!-- card-body.// -->
            </article> <!-- card.// -->

        </div>
    </div>
</div>
{% endblock %}